<include file="Public:headjs" />
<body id="page-top">
<include file="Public:header" />
	<div class="container">
		<div class="panel">
				<div class="row">
			 		<div class="col-md-12">
			 	<div class="blog-title">
			 			穆青交友
			 	</div>
			 	</div>
				 <div  class="row">
					 <volist id="vo" name="label">
					 	 <div class="col-xs-4 col-md-1">
							<p class="label"><a href="__APP__/Mobile/LoveDetail/label?id={$vo.id}&ty=Label">{$vo.label_name}</a></p>
						</div>
					</volist>	
				</div>						  
			</div>						  
			<div class="panel-body">
				<div class="row">
					<div class="memberlist">
						<volist name="love" id="vo">
							<div class="col-xs-4 col-md-3">
								<img class="" <empty name="vo.head"> src="__MOBILE__/Img/001.jpg" <else/> src="__ROOT__{$vo.head}"</empty> />
								<p>{$vo.name}&nbsp;&nbsp;<a href="{:U('LoveDetail/detail/',array('id'=>$vo['id']))}"target="_BLANK">详细</a></p>
								</div>
						</volist>
					</div>
				</div>
				<div  class="row">
					<div   class="col-md-12">
					<a href="__APP__/Mobile/LoveDetail/more" class="btn btn-primary btn-center">查看更多</a>
					</div>
				</div>
				<div class="row" data-animated="0">
				<div class="col-md-12">
						<a href="{$Think.CONFIG.WEIXIN_LUNTAN}" class="btn btn-success  btn-block btn-center">更多好友，请进入穆斯林青年部落</a>
				</div>
			</div>
			</div>
		</div>
	
		<div class="index-body">
				<volist name="list" id="vo">  
					<div class="row">
						<div class="theme">
							<div class="col-md-12">
								<div class="blog-title">
										<div class="">
										<i class="fa {$titleIcon}" aria-hidden="true"></i>{$vo.name}
										<a href="__URL__/more?aid={$vo.id}"><span class="glyphicon glyphicon-chevron-right"></span></a>
										</div>
								</div>
							</div>
							<div class="col-md-12">
									<div class="row margin-right-left-5">
										<ul class="list-unstyled">
											  <volist name="vo['voo']" id="sub">  
												<li class="list-unstyled">
														<div class="row">
															<empty name="val.url">
																<a href="__URL__/detail?id={$sub.aid}" target="_blank">
																	<div class="col-xs-3 col-sm-3 ">
																	<img  id="blog-img" alt="Responsive image" class="img-responsive img-polaroid thumbnail" alt="项目图片展示" src="__ROOT__{$val.thumbnail}"/>
																	</div>
																	<div class="blog-content">
																		<i class="fa fa-hand-o-right" aria-hidden="true"></i>{$sub.title|msubstr=0,18,'utf-8',false}
																	</div>
																</a>
																<else />
																<a href="$val.url" target="_blank">
																<div class="col-xs-3 col-sm-3 "><!--__ROOT__{$val.thumbnail}  -->
																<img  id="blog-img" alt="Responsive image" class="img-responsive img-polaroid thumbnail" alt="项目图片展示" src="__ROOT__{$val.thumbnail}"/>
															</div>
															<div class="blog-content">
																<i class="fa fa-hand-o-right" aria-hidden="true"></i>{$sub.title|msubstr=0,18,'utf-8',false}
															</div>
														</a>
														</empty>
														</div>
												</li>
											</volist>
										</ul>
									</div>
								</div>
						</div>
					</div>
					</volist>
					<div class="row">
					<div class="col-md-12 pagination text-center ">
							{$page}
						</div>
						</div>
				</div>
			</div>
 <include file="Public:footer" />
<!-- jQuery -->
</body>
</html>
