<include file="Public:headjs" />
<body id="page-top">
<include file="Public:header" />
	<div class="container">
		<div class="life-body">
			<div class="row">
				<div class="search">
					<form action="" method="post">
					<div class="input-group">
				    <input type="text" name="content" class="form-control input-lg"><span class="input-group-addon btn btn-primary">搜索</span>
				      <input type="hidden" name="site" value="{$title}"/>
					</div>
					</form>
				</div>
			</div>
			<div class="row">
				<div class="clothes">
					<div class="col-md-12">
						<div class="blog-title">
								<div class="">
								<i class="fa {$titleIcon}" aria-hidden="true"></i>{$title.name}
								</div>
						</div>
					</div>
					<div class="col-md-12">
							<div class="row margin-right-left-5">
								<ul class="list-unstyled">
									 <volist name="list" id="val">
										<li class="list-unstyled">
											<div class="row">
											<empty name="val.url">
												<a href="__URL__/detail?id={$sub.aid}" target="_blank">
													<div class="col-xs-3 col-sm-3 ">
													<img  id="blog-img" alt="Responsive image" class="img-responsive img-polaroid thumbnail" alt="项目图片展示" src="__ROOT__{$val.thumbnail}"/>
													</div>
													<div class="blog-content">
														<i class="fa fa-hand-o-right" aria-hidden="true"></i>{$val.title|msubstr=0,18,'utf-8',false}
													</div>
												</a>
												<else />
												<a href="$val.url" target="_blank">
												<div class="col-xs-3 col-sm-3 "><!--__ROOT__{$val.thumbnail}  -->
												<img  id="blog-img" alt="Responsive image" class="img-responsive img-polaroid thumbnail" alt="项目图片展示" src="__ROOT__{$val.thumbnail}"/>
											</div>
											<div class="blog-content">
												<i class="fa fa-hand-o-right" aria-hidden="true"></i>{$val.title|msubstr=0,18,'utf-8',false}
											</div>
														</a>
														</empty>
											</div>
										</li>
									</volist>
								</ul>
							</div>
						</div>
						<div class="col-md-12 pagination text-center ">
							{$page}
						</div>
				</div>
			</div>
			</div>
	</div>
 <include file="Public:footer" />
<!-- jQuery -->
</body>
</html>
