<include file="Public/mobile_head"/>	
   <link type="text/css" href="__STATIC__/jquery-ui-bootstrap/css/custom-theme/jquery-ui-1.10.0.custom.css" rel="stylesheet" />
    <link rel="stylesheet" href="__STATIC__/font-awesome/css/font-awesome.min.css">
<!-- 可选的Bootstrap主题文件（一般不用引入） -->
<link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">

<link href="{:CUSTOM_TEMPLATE_PATH}Index/ColorV1/main.css?v={:SITE_VERSION}" rel="stylesheet" type="text/css">
<style>
body{
	background:#eee url({$config.background}) no-repeat; background-size:100% 100%
}
</style>
<body id="weisite">
<div class="container">
    <if condition="empty($slideshow)">
    <p>&nbsp;</p><p>&nbsp;</p>
    <p>管理员还没有配置幻灯片数据，请先等配置后再看</p>
    <else />
    <if condition="!empty($slideshow)">
    <section class="banner"  id="banner">
    	<ul>
        <volist name="slideshow" id="vo">
        	<li>
            	<a href="{$vo.url}"><img src="{$vo.img}"/></a>
            	<span class="title">{$vo.title}</span>
            </li>
         </volist>
        </ul>
        <span class="identify">
        <volist name="slideshow" id="vo">
        	<em></em>
         </volist>        
        </span>
    </section>
    </if>
			    <div class="mainbg" style="background:#7ABDE9;">
			    <volist name="config.background_arr" id="so">
			        <input type='hidden' id='bg_{$key}' value="{$so|get_cover_url}">
			    </volist>
			</div>
		    <section>
		<div class="container">
				<div class="row "data-animated="0">
				 <php> $post_url || $post_url = U('indexAdd?model='.$model['id'], $get_param);</php>
				   <form class="form-horizontal" id="form" action="{$post_url}" method="post">
				      <div  class="col-md-12 text-center">
				      	<label  class="btn btn-info ">我要报孝</label>
				      </div> 
						  <div class="text-center">
							    <label for="" class="col-md-2 control-label"></label>
							    <div class="col-md-10">
							    <div class="input-group">
							      <span class="input-group-addon">
	                                        <i class="glyphicon glyphicon-user"></i>
	                                   </span>
							      <input type="text" name="name"class="form-control" id="name" placeholder="请输入报孝人">
							    </div>
							    <span class="msg"></span>
							    </div>
						  </div>
						  <div class="text-center">
							    <label for="" class="col-md-2 control-label"></label>
							    <div class="col-md-10">
							    <div class="input-group">
							      <span class="input-group-addon">
	                                        <i class="glyphicon glyphicon-user"></i>
	                                   </span>
							      <input type="text" name="die_name"class="form-control" id="die_name" placeholder="请输入亡人姓名">
							    </div>
							    <span class="msg"></span>
							    </div>
						  </div>
						 <div class="text-center">
							    <label for="" class="col-md-2 control-label"></label>
							    <div class="col-md-10">
							    <div class="input-group">
							      <span class="input-group-addon">
	                                        <i class="glyphicon glyphicon-user"></i>
	                                   </span>
							      <input type="text" name="mosque_name"class="form-control" id="mosque_name" placeholder="请输入准备出亡人的具体清真寺名称">
							    </div>
							    <span class="msg"></span>
							    </div>
						  </div> 
						  <div class="text-center">
							    <label for="" class="col-md-2 control-label"></label>
							    <div class="col-md-10">
							    <div class="input-group">
							      <span class="input-group-addon">
	                                        <i class="glyphicon glyphicon-user"></i>
	                                   </span>
	                                      <input type="datetime" name="end_time" class="text time" value="" placeholder="请选择时间" />
							    </div>
							    <span class="msg"></span>
							    </div>
						  </div>
					  <div class=" ">
							    <label for="" class="col-md-2 control-label"></label>
							    <div class="col-md-10">
							    <div class="input-group">
						       <span class="input-group-addon">
                                        <i class="glyphicon glyphicon-phone"></i>
                                   </span>
						      <input type="text" name="mobile" class="form-control" id="mobile" placeholder="请输入您的手机">
						    </div>
						    </div>
					  </div>
					  
						 <div class=" ">
							    <label for="" class="col-md-2 control-label"></label>
							    <div class="col-md-10">
							    <div class="input-group">
							      <span class="input-group-addon">
                                        <i class="glyphicon glyphicon-indent-right"></i>
                                        </span>
                            	<!-- <select class="form-control" id="s_province" name="s_province"></select>
							    <select class="form-control" id="s_city" name="die_city" ></select>
							    <select class="form-control" id="s_county" name="s_county"></select>
							    <script class="resources library " src="__STATIC__/data/city.js" type="text/javascript"></script>
							    <script type="text/javascript">_init_area();</script> -->
						      <input type="text" name="address" class="form-control" id="address" placeholder="请输入送埋体详细地址">
						     <!--  <div class="form-control  alert-danger" role="alert">返回本页面，省份需要重新选择哟！</div> -->
						    </div>
						    </div>
					  </div>
						 <div class=" ">
							    <label for="" class="col-md-2 control-label"></label>
							    <div class="col-md-10">
							    <div class="input-group">
							      <span class="input-group-addon">
                                        <i class="glyphicon glyphicon-indent-right"></i>
                                        </span>
						      <input type="text" name="s_city" class="form-control" id="s_city" placeholder="消息发送城市，比如：银川|西宁|呼和浩特">
						    </div>
						    </div>
					  </div>
					  
					<div class="row intro-textarea text-center">
						 <label for="" class="col-md-12 control-label">
						  <div class=" btn center-block" > 
						  <i class="glyphicon glyphicon-globe"></i>简单介绍下亡人，让更多的穆斯林们送送!</div>
						  </label>
                            <div class="col-md-10"> 
                              <div   class="input-group">
                           	 <textarea name="intro" id="intro" onfocus="cc()" ></textarea>
                             </div>
                            </div>
                        </div>
				  <div class="text-center">
				    <div class="col-md-12">
				      <button type="submit" id="submit" class="btn btn-success  btn-sm center-block" data-style="zoom-in"><i class="glyphicon glyphicon-registration-mark"></i>提交</button>
				    </div>
				  </div>
				</form>
	 </div> 	
				<div class="row" data-animated="0">
					<div class="col-md-12 text-center">
					<a href="tel:15248120395"class="btn btn-info call_button"><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span>一键拨打15248120395</a>
				    </div>
				  </div>
		</div>
		
 <script type="text/javascript">
	function cc()
	{
	   var e = event.srcElement;
	   var r =e.createTextRange();
	   r.moveStart('character',e.value.length);
	   r.collapse(true);
	   r.select();
	}
  var PlaceHolder = {
		    _support: (function() {
		        return 'placeholder' in document.createElement('input');
		    })(),

		    //提示文字的样式，需要在页面中其他位置定义
		    className: 'abc',

		    init: function() {
		        if (!PlaceHolder._support) {
		            //未对textarea处理，需要的自己加上
		            var inputs = document.getElementsByTagName('input');
		            PlaceHolder.create(inputs);
		        }
		    },

		    create: function(inputs) {
		        var input;
		        if (!inputs.length) {
		            inputs = [inputs];
		        }
		        for (var i = 0, length = inputs.length; i <length; i++) {
		            input = inputs[i];
		            if (!PlaceHolder._support && input.attributes && input.attributes.placeholder) {
		                PlaceHolder._setValue(input);
		                input.addEventListener('focus', function(e) {
		                    if (this.value === this.attributes.placeholder.nodeValue) {
		                        this.value = '';
		                        this.className = '';
		                    }
		                }, false);
		                input.addEventListener('blur', function(e) {
		                    if (this.value === '') {
		                        PlaceHolder._setValue(this);
		                    }
		                }, false);
		            }
		        }
		    },

		    _setValue: function(input) {
		        input.value = input.attributes.placeholder.nodeValue;
		        input.className = PlaceHolder.className;
		    }
		};

		//页面初始化时对所有input做初始化
		PlaceHolder.init();
  </script>
		    </section>
</div>
<!-- 底部导航 -->
{$footer_html}
<!-- 统计代码 -->
<notempty name="config.code">
<p class="hide bdtongji">
{$config.code}
</p>
<else />
<p class="hide bdtongji">
{$tongji_code}
</p>
</notempty>
</body>
 <link href="__STATIC__/datetimepicker/css/datetimepicker.css?v={:SITE_VERSION}" rel="stylesheet" type="text/css">
  <php>if(C('COLOR_STYLE')=='blue_color') echo '
    <link href="__STATIC__/datetimepicker/css/datetimepicker_blue.css?v={:SITE_VERSION}" rel="stylesheet" type="text/css">
    ';</php>
  <link href="__STATIC__/datetimepicker/css/dropdown.css?v={:SITE_VERSION}" rel="stylesheet" type="text/css">
  <script type="text/javascript" src="__STATIC__/datetimepicker/js/bootstrap-datetimepicker.min.js"></script> 
  <script type="text/javascript" src="__STATIC__/datetimepicker/js/locales/bootstrap-datetimepicker.zh-CN.js?v={:SITE_VERSION}" charset="UTF-8"></script> 
 
<script src="__STATIC__/jquery-ui-bootstrap/assets/js/jquery-ui-1.10.0.custom.min.js" type="text/javascript"></script>
<script src="__STATIC__/jquery-ui-bootstrap/assets/js/google-code-prettify/prettify.js" type="text/javascript"></script>

<script type="text/javascript">
$(function(){
/* 	initUploadImg();
	initUploadFile();
 */    $.WeiPHP.initBanner('#banner',true,5000);
	$.WeiPHP.setRandomColor('.random_color');
	var h=$(window).height();
	$('#weisite').css('min-height',h);
	
	var count = $('.mainbg input').length;
	var i=0;
	 var imgurl='';
	 setInterval(function(){
		imgurl=$('#bg_'+i).val();
// 		 $('.mainbg img').attr('src', imgurl).fadeTo('3000',1);
		$('#weisite').css('background-image',"url("+imgurl+")");
		 i++;
		 if(i==count){
			 i=0;
		 }
	 },3500);
	 
	  $('.time').datetimepicker({
	        format: 'yyyy-mm-dd hh:ii',
	        language:"zh-CN",
	        minView:0,
	        autoclose:true
	    });
	    $('.date').datetimepicker({
	        format: 'yyyy-mm-dd',
	        language:"zh-CN",
	        minView:2,
	        autoclose:true
	    });	
	    showTab();
})

</script>
</html>