<include file="Public:headjs" />
<body id="page-top">
<include file="Public:header" />
	<!--幻灯片开始  -->
	<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
    <li data-target="#carousel-example-generic" data-slide-to="3"></li>
  </ol>

  <!-- Wrapper for slides -->
   <div class="carousel-inner" role="listbox">
    <div class="item active">
      <img src="__MOBILE__/Img/life/carry.png" alt="伊媒生活 美食">
      <div class="carousel-caption">
      </div>
    </div>
    <div class="item">
      <img src="__MOBILE__/Img/life/food.png" alt="伊媒生活 服饰">
      <div class="carousel-caption">
      </div>
    </div>
    <div class="item">
      <img src="__MOBILE__/Img/life/clothes.png" alt="伊媒生活 房产">
      <div class="carousel-caption">
      </div>
    </div>
    <div class="item">
      <img src="__MOBILE__/Img/life/zhu.jpg" alt="伊媒生活 旅行">
      <div class="carousel-caption">
      </div>
    </div>
  </div>
  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
	<div class="container">
		<div class="life-body">
			<div class="row">
				<div class="search">
					<form action="__URL__/search" method="post">
					<div class="input-group">
				    <input name="content"  type="text" class="form-control input-lg"><span class="input-group-addon btn btn-primary">搜索</span>
				    <input type="hidden" name="site" value=""/>
					</div>
					</form>
				</div>
			</div>
			
			<div class="row">
				<div class="clothes">
						
					<div class="col-md-12">
						<div class="blog-title">
								<div class="">
								<i class="fa fa-sitemap" aria-hidden="true"></i>服饰<a href="__URL__/more?aid={$val.aid}&type=clothes"><span class="glyphicon glyphicon-chevron-right"></span></a>
								</div>
						</div>
					</div>
					
					<div class="col-md-12">
							<div id="City" class="" >
								 <span class="label label-primary">
									  	 {$city}
									 </span>
							</div>
						</div>
						
					<div class="col-md-12">
							<div class="row margin-right-left-5">
								<ul class="list-unstyled">
									 <volist name="clothes" id="val">
										<li class="list-unstyled">
											<div class="row">
											<empty name="val.url">
												<a href="{:U('Life/detail',array('id'=>$val['aid'],'type'=>clothes))}" target="_blank">
														<div class="col-xs-3 col-sm-3 ">
															<img  id="blog-img" alt="Responsive image" class="img-responsive img-polaroid thumbnail" alt="项目图片展示" src="__ROOT__{$val.thumbnail}"/>
														</div>
														<div class="col-xs-9 col-sm-9  blog-content">
															<span id="">{$val.title|msubstr=0,12,'utf-8',true}</span><br>
															<span id="">{$val.description|msubstr=0,40,'utf-8',true}</span>
														</div>
													</a>
											<else /> 
												<a href="{$val.url}" target="_blank">
														<div class="col-xs-3 col-sm-3 "><!--__ROOT__{$val.thumbnail}  -->
															<img  id="blog-img" alt="Responsive image" class="img-responsive img-polaroid thumbnail" alt="项目图片展示" src="__ROOT__{$val.thumbnail}"/>
														</div>
														<div class="col-xs-9 col-sm-9  blog-content">
															<span id="">{$val.title|msubstr=0,12,'utf-8',true}</span><br>
															<span id="">{$val.description|msubstr=0,40,'utf-8',true}</span>
														</div>
													</a>
											</empty> 
												
											</div>
										</li>
									</volist>
								</ul>
							</div>
						</div>
				</div>
			</div>
			<div class="row">
				<div class="clothes">
					<div class="col-md-12">
						<div class="blog-title">
								<div class="">
								<i class="fa fa-inbox" aria-hidden="true"></i>美食<a href="{:U('Life/more',array('aid'=>$val['aid'],'type'=>food))}"><span class="glyphicon glyphicon-chevron-right"></span></a>
								</div>
						</div>
					</div>
					
					<div class="col-md-12">
							<div id="City" class="" >
									  <span class="label label-primary">
									  	 {$city}
									 </span>
							</div>
						</div>
						
					<div class="col-md-12">
							<div class="row">
								<ul class="list-unstyled">
									 <volist name="food" id="val">
										<li class="list-unstyled">
											<div class="row margin-right-left-5">
												<empty name="val.url">
												<a href="{:U('Life/detail',array('id'=>$val['aid'],'type'=>food))}" target="_blank">
														<div class="col-xs-3 col-sm-3 ">
															<img  id="blog-img" alt="Responsive image" class="img-responsive img-polaroid thumbnail" alt="项目图片展示" src="__ROOT__{$val.thumbnail}"/>
														</div>
														<div class="col-xs-9 col-sm-9  blog-content">
															<span id="">{$val.title|msubstr=0,12,'utf-8',true}</span><br>
															<span id="">{$val.description|msubstr=0,40,'utf-8',true}</span>
														</div>
													</a>
											<else /> 
												
												<a href="{$val.url}" target="_blank">
													<div class="col-xs-3 col-sm-3  ">
														<img  id="blog-img" alt="Responsive image" class="img-responsive img-polaroid thumbnail " alt="项目图片展示" src="__ROOT__{$val.thumbnail} "/>
													</div>
													<div class="col-xs-9 col-sm-9  blog-content">
														<span id="">{$val.title|msubstr=0,12,'utf-8',true}</span><br>
														<span id="">{$val.description|msubstr=0,40,'utf-8',true}</span>
													</div>
												</a>
												</empty>
											</div>
										</li>
									</volist>
								</ul>
							</div>
						</div>
				</div>
			</div>
			<div class="row">
				<div class="clothes">
					<div class="col-md-12">
						<div class="blog-title">
								<div class="">
								<i class="fa fa-building" aria-hidden="true"></i>房地产<a href="{:U('Life/more',array('aid'=>$val['aid'],'type'=>housing))}"><span class="glyphicon glyphicon-chevron-right"></span></a>
								</div>
						</div>
					</div>
						<div class="col-md-12">
							<div id="City" class="" >
									  <span class="label label-primary">
									  	 {$city}
									 </span>
							</div>
						</div>
					<div class="col-md-12">
							<div class="row">
								<ul class="list-unstyled">
									 <volist name="housing" id="val">
										<li class="list-unstyled">
											<div class="row margin-right-left-5">
											<empty name="val.url">
												<a href="{:U('Life/detail',array('id'=>$val['aid'],'type'=>housing))}" target="_blank">
														<div class="col-xs-3 col-sm-3 ">
															<img  id="blog-img" alt="Responsive image" class="img-responsive img-polaroid thumbnail" alt="项目图片展示" src="__ROOT__{$val.thumbnail}"/>
														</div>
														<div class="col-xs-9 col-sm-9  blog-content">
															<span id="">{$val.title|msubstr=0,12,'utf-8',true}</span><br>
															<span id="">{$val.description|msubstr=0,40,'utf-8',true}</span>
														</div>
													</a>
											<else /> 
												<a href="{$val.url}" target="_blank">
													<div class="col-xs-3 col-sm-3  ">
														<img  id="blog-img" alt="Responsive image" class="img-responsive img-polaroid thumbnail " alt="项目图片展示" src="__ROOT__{$val.thumbnail}"/>
													</div>
													<div class="col-xs-9 col-sm-9  blog-content">
														<span id="">{$val.title|msubstr=0,12,'utf-8',true}</span><br>
														<span id="">{$val.description|msubstr=0,40,'utf-8',true}</span>
													</div>
												</a>
												</empty>
											</div>
										</li>
									</volist>
								</ul>
							</div>
						</div>
				</div>
			</div>
			<div class="row">
				<div class="clothes">
					<div class="col-md-12">
						<div class="blog-title">
								<div class="">
								<i class="fa fa-car" aria-hidden="true"></i>旅行<a href="{:U('Life/more',array('aid'=>$val['aid'],'type'=>carry))}"><span class="glyphicon glyphicon-chevron-right"></span></a>
								</div>
						</div>
					</div>
					<div class="col-md-12">
							<div id="City" class="" >
								 <span class="label label-primary">
									  	 {$city}
									 </span>
							</div>
						</div>
					<div class="col-md-12">
							<div class="row">
								<ul class="list-unstyled">
									 <volist name="carry" id="val">
										<li class="list-unstyled">
											<div class="row margin-right-left-5">
											<empty name="val.url">
												<a href="{:U('Life/more',array('id'=>$val['aid'],'type'=>carry))}" target="_blank">
														<div class="col-xs-3 col-sm-3 ">
															<img  id="blog-img" alt="Responsive image" class="img-responsive img-polaroid thumbnail" alt="项目图片展示" src="__ROOT__{$val.thumbnail}"/>
														</div>
														<div class="col-xs-9 col-sm-9  blog-content">
															<span id="">{$val.title|msubstr=0,12,'utf-8',true}</span><br>
															<span id="">{$val.description|msubstr=0,40,'utf-8',true}</span>
														</div>
													</a>
											<else /> 
											<a href="{$val.url}" target="_blank">
													<div class="col-xs-3 col-sm-3 ">
														<img  id="blog-img" alt="Responsive image" class="img-responsive img-polaroid thumbnail " alt="项目图片展示" src="__ROOT__{$val.thumbnail} "/>
													</div>
													<div class="col-xs-9 col-sm-9  blog-content">
															<span id="">{$val.title|msubstr=0,12,'utf-8',true}</span><br>
														<span id="">{$val.description|msubstr=0,40,'utf-8',true}</span>
													</div>
												</a>
												</empty>
											</div>
										</li>
									</volist>
								</ul>
							</div>
						</div>
				</div>
			</div>
			</div>
	</div>
 <include file="Public:footer" />
<!-- jQuery -->
</body>
</html>
