<div data-role="header" id="header" data-position="fixed" data-theme="b" role="banner" class="ui-header ui-bar-b ui-header-fixed slidedown">
        <h1 class="ui-title" role="heading" aria-level="1">伊媒公益</h1>
        <a href="#demo-intro" data-rel="back" data-icon="carat-l" data-iconpos="notext" class="ui-link ui-btn-left ui-btn ui-icon-carat-l ui-btn-icon-notext ui-shadow ui-corner-all" data-role="button" role="button">返回</a>
        <a href="#" onclick="window.location.reload()" data-icon="back" data-iconpos="notext" class="ui-link ui-btn-right ui-btn ui-icon-back ui-btn-icon-notext ui-shadow ui-corner-all" data-role="button" role="button">刷新</a>
    </div>