<include file="headerjs" />
</head>
<body>
<include file="header" />
<section id="page1" data-role="page">
	<div class="content" data-role="content">
		<h3>Search Input</h3>
		<form id="myform" action="formprocessor.php" method="post">
			<div data-role="fieldcontain">
				<label for="search-restaurants"></label>
				<input type="search" name="search-restaurants" id="search-restaurants"data-filter-placeholder="项目信息" />
			</div> 
		</form>
	</div>
	<footer data-role="footer">
		<h1>搜索</h1>
	</footer> 
</div>
<include file="footer" />